<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>sistema.filmesnew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletTeste</display-name>
    <servlet-name>ServletTeste</servlet-name>
    <servlet-class>web.ServletTeste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTeste</servlet-name>
    <url-pattern>/ServletTeste</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Instanciacao</display-name>
    <servlet-name>Instanciacao</servlet-name>
    <servlet-class>instanciacao.Instanciacao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Instanciacao</servlet-name>
    <url-pattern>/Instanciacao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistaListar</display-name>
    <servlet-name>ArtistaListar</servlet-name>
    <servlet-class>web.ArtistaListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistaListar</servlet-name>
    <url-pattern>/artista/listar</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ArtistaFiltrar</display-name>
    <servlet-name>ArtistaFiltrar</servlet-name>
    <servlet-class>web.ArtistaFiltrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistaFiltrar</servlet-name>
    <url-pattern>/artista/filtrar</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <description></description>
    <display-name>ArtistaNovo</display-name>
    <servlet-name>ArtistaNovo</servlet-name>
    <servlet-class>web.ArtistaNovo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistaNovo</servlet-name>
    <url-pattern>/artista/novo</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>ArtistaInserir</display-name>
    <servlet-name>ArtistaInserir</servlet-name>
    <servlet-class>web.ArtistaInserir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistaInserir</servlet-name>
    <url-pattern>/artista/inserir</url-pattern>
  </servlet-mapping> 
  
   <servlet>
    <description></description>
    <display-name>ArtistaEditar</display-name>
    <servlet-name>ArtistaEditar</servlet-name>
    <servlet-class>web.ArtistaEditar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistaEditar</servlet-name>
    <url-pattern>/artista/editar</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <description></description>
    <display-name>ArtistaAtualizar</display-name>
    <servlet-name>ArtistaAtualizar</servlet-name>
    <servlet-class>web.ArtistaAtualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistaAtualizar</servlet-name>
    <url-pattern>/artista/atualizar</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>ArtistaRemover</display-name>
    <servlet-name>ArtistaRemover</servlet-name>
    <servlet-class>web.ArtistaRemover</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistaRemover</servlet-name>
    <url-pattern>/artista/remover</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ArtistaExcluir</display-name>
    <servlet-name>ArtistaExcluir</servlet-name>
    <servlet-class>web.ArtistaExcluir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistaExcluir</servlet-name>
    <url-pattern>/artista/excluir</url-pattern>
  </servlet-mapping>
    
  
  
  
</web-app>